extends layout

block content
  div(class="space-y-3")
    h1(class='text-5xl text-center font-bold')= "You successfully signed up for Daily Covid-19 Updates"
    p(class='text-center text-lg') You will receive the first update at the end of the day.